body{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: rgb(3, 3, 65);
    color: rgb(255, 255, 255);
}

h1{
    color: rgb(125, 222, 151);
    font-size: 24pt;
    font-family: Georgia, serif;
}

h2{
    color: pink
}
